// Estilos constantes
.subtitles {
  font-family: $font-titles;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
}
.description {
  font-family: $font-paragraphs;
  font-size: 14px;
  color: $letter-color;
  line-height: 22px;
  letter-spacing: 0;
}
.background-blue {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background-color: $background-secondary;
    display: block;
    width: 100%;
    height: 100%;
    top: 16px;
    left: 0;
    z-index: 0;
    transform: skew(0, -6deg);
  }
}
.box-button {
  max-width: 288px;
  font-family: $font-paragraphs;
  font-size: 16px;
  text-transform: uppercase;
  color: $letter-color; 
  background-color: $background-button;
  font-weight: 500;
  border: none;
  opacity: 100%;
  margin: 20px 16px;
}